body {
    background-color: #ffe5ba;
    font-family: "Assistant", serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    max-width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}
/* Login and Register Buttons */
.list .login a{
    font-size: 18px;
    list-style: none;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.list .register a {
    font-size: 18px;
    list-style: none;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.list .login a:hover,
.list .register a:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}


/* Header and Navigation */
header {
    background-color: #efc98b;
    border-radius: 20px;
    margin: 20px auto; /* Centers the header horizontally */
    padding: 10px 0;
    animation-name: glow;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    width: 100%;
    max-width: 800px;
    text-align: center; /* Centers the content inside the header */
}


.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.navigation img {
    width: 80px;
    height: auto;
    box-shadow: 0px 0px 5px white;
    margin: 0px;
    border-radius: 50%;
}

.list {
    display: flex;
    flex-wrap: nowrap;
}

.list li {
    margin: 10px;
    margin-left: 40px;
    align-items: center;
}

.list li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.list li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.list li a.active {
    color: white; 
    text-decoration: underline;
    font-size: 16px;
}
.home{
    list-style-image: url(./logo/home.png.png);
}
.menu{
    list-style-image:url(./logo/menu.png.png);
}
.aboutus{
    list-style-image: url(./logo/aboutus.png);
}
.feedback {
    list-style-image: url(./logo/feedback\ \(1\).png);
}

.list .login a{
    font-size: 20px;
    list-style: none;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}
.list .login a:hover{
    font-size: 20px;
    list-style: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
    background-color: black;
}
.list .login {
    font-size: 20px;
    list-style: none;
}
.list .register a{
    font-size: 20px;
    list-style: none;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}
.list .register a:hover{
    font-size: 20px;
    list-style: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
    background-color: black;
}
.list .register {
    font-size: 20px;
    list-style: none;
}
.login-form{
    margin: 0 auto;
    text-align: center;
}
.login-form form{
    display: flex;
    flex-direction: column;
}
.login-form form input{
    margin: 3px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
    background-color: #ffe5ba;
}
.login-form form button{
    margin: 6px;
    padding: 10px;
    font-size: 16px;
    background-color:#efc98b;
    border: none;
    border-radius: 10px;
}
.login-form form button:hover{
    box-shadow: 0px 0px 10px white;
    border-radius: 20px;
    transition: 0.5s ease;
}
@keyframes expand {
    0%{
        font-size: 3rem;
    }
    50%{
        font-size: 3.2rem;
    }
    100%{
        font-size: 3rem;
    }
}
footer div p a{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.5s ease;
}
footer div p .ig:hover{
    color: white;
    background-image: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
    border: none;
    opacity: 60%;

}
footer div p .fb:hover{
    color: white;
    background-color: #1877F2;
    border: none;
    opacity: 80%;
    transition: all 0.2s ease-in-out;
}
footer div p .tt:hover{
    color: white;
    background-color: #000000;
    border: none;
    opacity: 80%;
    transition: all 0.2s ease-in-out;
}
footer div{
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 20px auto;
}
@keyframes blur{
    0%{
        filter: blur(20px);
        opacity: 0;
    }
    100%{
        filter: blur(0px);
        opacity: 1;
    }
}
.container2{
    animation: blur 1s;
}