body{
    background-color:#ffe5ba;
    flex-wrap: wrap;
    font-family: "Assistant", serif;

}
.container{
    width: 1140px;
    max-width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
 
}
header{
    background-color: #efc98b;
    border-radius: 20px;
    flex-wrap: wrap;
    animation-name: glow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    margin-top: 3rem;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.navigation img{
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px white;
    margin: 10px;

}
.list{
    display: flex;
    flex-wrap: wrap;
}
.list li{
    margin: 20px;
    margin-left: 40px;
    align-items: center;
}
.list li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.list .home {
    list-style-image:url(./logo/home.png.png); 
}
.list .menu{
    list-style-image:url(./logo/menu.png.png);
}
.list .aboutus{
    list-style-image:url(./logo/aboutus.png);
}
.list .feedback{
    list-style-image:url(./logo/feedback\ \(1\).png);
}
.containerinfo{
    width: 100%;
    background-color: #efc98b;
    height: 600px;
    margin-top: 3rem;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    animation-name: glow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    margin-top: 3rem;
}
.bestseller{
    background-color: black;
}
.beenorigin{
    background-color: black;
}
.brewingprocess{
    background-color: black;
}















/* animation */
@keyframes glow{
   0%{box-shadow: 0px 0px 0px white;}
   50%{box-shadow: 0px 0px 50px white;}
   100%{box-shadow: 0px 0px 0px white;}
}